<%= render "admin/lawyers/partials/form_personal" %>
<%= render "admin/lawyers/partials/form_categories" %>
<%= render "admin/lawyers/partials/form_langs" %>
<%= render "admin/lawyers/partials/form_education" %>
<%= render "admin/lawyers/partials/form_job" %>
<%= render "admin/lawyers/partials/form_recognitions" %>
<%= render "admin/lawyers/partials/form_article" %>
<%= render "admin/lawyers/partials/form_institution" %>
<%= render "admin/lawyers/partials/form_award" %>
<%= render "admin/lawyers/partials/form_phrase" %>

<a href="#" class="btn btn-store pull-right btn-lg lawyer-store">Guardar</a>




