<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="form-group col-lg-12">
        <label for="file">Adjuntar Foto de perfil</label>
        <input type="file" name="file" class='form-control'>
      </div>
      <div class="form-group col-lg-6">
        <input type="text" name="name" class="form-control" placeholder="Nombre">
      </div>

      <div class="form-group col-lg-6">
        <input type="text" name="lastname" class="form-control" placeholder="Apellidos">
      </div>

      <div class="form-group col-lg-6">
        <input type="text" name="email" class="form-control" placeholder="Email">
      </div>

      <div class="form-group col-lg-6">
        <input type="text" name="phone" class="form-control" placeholder="Teléfono">
      </div>

      <div class="form-group col-lg-6">
        <select name="position" class="form-control">
          <option value="">Seleccionar cargo</option>
          <option value="<%= t('lawyer')%>"><%= t('lawyer')%></option>
          <option value="<%= t('associated')%>"><%= t('associated')%></option>
          <option value="<%= t('specialist')%>"><%= t('specialist')%></option>
          <option value="<%= t('partner')%>"><%= t('partner')%></option>
          <option value="<%= t('senior_counsel')%>"><%= t('senior_counsel')%></option>
        </select>
      </div>

      <div class="form-group col-lg-6">
        <select name="level" class="form-control" id="">
          <option value="">Seleccionar nivel</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
        </select>
      </div>

      <div class="form-group col-lg-12">
        <textarea name="description" class="form-control" rows="5" placeholder="Descripción"></textarea>
      </div>
    </div>
  </div>
</div>
