<div class="panel panel-default col-lg-10 hidden" id="lawyer-finish">
  <div class="panel-body"></div>
</div>

<script type="text/x-handlebars-template" id="lawyer-finish-template">
  <div class="lawyer-header">
    <p>{{ position }}</p>
    <h1>{{ name }} {{ lastname }}</h1>
    <a href="tel:{+571 {{ phone }}" class="lawyer-phone">+571 {{ phone }}</a>
    <a href="mailto:{{ email }}" class="lawyer-email">{{ email }}</a>
    {{#if img_name.url}}
    <img src="{{img_name.url}}" width="250" class="pull-right">
    {{/if}}
  </div>
  <p class="lawyer-description">{{ description }} </p>
  <a href="#" class="btn btn-info open-edit-lawyer">Editar</a>
  <hr>
  <div class="col-lg-6">
    <h3>Información general</h3>
    <h4> <%= t('practice_areas') %> </h4>
    <ul>
      {{#each categories }}
      <li>{{ name }}</li>
      {{/each}}
    </ul>

    <h4>
     <%= t('education') %>
     <a href="#" class="btn btn-info btn-xs open-add-lawyer-education">+</a>
   </h4>
   <ul>
    {{#each educations }}
    <li> {{ title }} {{ institution }} {{ country }} {{ year }} <p><a href="#" class="btn btn-info btn-xs open-edit-lawyer-education">Editar</a> </p></li>
    {{/each}}
  </ul>

  <h4>
    <%= t('professional_experience') %>
    <a href="#" class="btn btn-info btn-xs open-add-lawyer-job">+</a>
  </h4>
  <ul>
    {{#each jobs }}
    <li>
      {{ title }} {{ country }} {{ from }} {{ until }}
      <p><a href="#" class="btn btn-info btn-xs open-edit-lawyer-job">Editar</a></p>
    </li>
    {{/each}}
  </ul>

  <h4>
    <%= t('conferences_recognitions') %>
    <a href="#" class="btn btn-info btn-xs open-add-lawyer-job">+</a>
  </h4>
  {{#each recognitions }}
  <li>{{ title }} {{ country }} {{ year }}
   <p> <a href="#" class="btn btn-info btn-xs open-edit-lawyer-recognition">Editar</a></p>
 </li>
 {{/each}}

 <h4>
   <%= t('memberships') %>
   <a href="#" class="btn btn-info btn-xs open-add-lawyer-institution">+</a>
 </h4>

 {{#each institutions }}
 <li>{{ title }} {{ country }}
   <p><a href="#" class="btn btn-info btn-xs open-edit-lawyer-institution">Editar</a></p>
 </li>
 {{/each}}

 <h4>
   <%= t('languages') %>
   <a href="#" class="btn btn-info btn-xs open-add-lawyer-language">+</a>
 </h4>
 {{#each languages }}
 <li>{{ name }}
   <p><a href="#" class="btn btn-info btn-xs open-edit-lawyer-language">Editar</a></p>
 </li>
 {{/each}}

 <h4>
  <%= t('phrases') %>
  <a href="#" class="btn btn-info btn-xs open-add-lawyer-pharase">+</a>
</h4>
{{#each phrases}}
<p>"{{ content }}"</p>
<p>{{ author }}</p>
<p><a href="#" class="btn btn-info btn-xs open-edit-lawyer-phrase">Editar</a></p>
{{/each}}
</div>

<div class="col-lg-6">
  <h3><%= t('awards') %> <a href="#" class="btn btn-info btn-xs open-add-lawyer-award">+</a></h3>
  {{#each awards }}
  <div class="lawyer-award">
    <img src="{{img_name.url}}"> <h5>{{ title }}</h5>
    <p><a href="#" class="btn btn-info btn-xs open-edit-lawyer-award">Editar</a></p>
  </div>
  {{/each}}

  <h3>
    <%= t('article') %>
    <a href="#" class="btn btn-info btn-xs open-add-lawyer-article">+</a>
  </h3>
  {{#each articles }}
  <p><a href="{{ file_name.url }}">{{ title }}</a></p>
  <a href="#" class="btn btn-info btn-xs open-edit-lawyer-article">Editar</a>
  {{/each}}
</div>
</script>



