<div class="panel panel-default hidden" id="lawyer-finish">
  <div class="panel-body"> sdasds</div>
</div>

<script type="text/x-handlebars-template" id="lawyer-finish-template">
<div class="row">
<div class="col-lg-5">
{{#if img_name.url}}
  <img src="{{img_name.url}}" width="250">
{{/if}}
  <p>{{ position }}</p>
  <p>{{ name }} {{ lastname }}</p>
  <p>{{ phone }}</p>
  <p>{{ email }}</p>

<a href="#" class="btn btn-info open-edit-lawyer">Editar</a>
<hr>

<h4><%= t('practice_areas') %></h4>
{{#each categories }}
  <p>{{ name }}</p>
{{/each}}
<a href="#" class="btn btn-info open-edit-lawyer-categories">Editar</a>
<hr>

 <h4><%= t('education') %></h4>
{{#each educations }}
  <p>{{ title }} {{ institution }} {{ country }} {{ year }}</p>
  <a href="#" class="btn btn-info btn-xs open-edit-lawyer-education">Editar</a>
{{/each}}
<hr>

<h4><%= t('professional_experience') %></h4>
{{#each jobs }}
  <p>{{ title }} {{ country }} {{ from }} {{ until }}</p>
  <a href="#" class="btn btn-info btn-xs open-edit-lawyer-job">Editar</a>
{{/each}}
<hr>

<h4><%= t('conferences_recognitions') %></h4>
{{#each recognitions }}
  <p>{{ title }} {{ country }} {{ year }}</p>
  <a href="#" class="btn btn-info btn-xs open-edit-lawyer-recognition">Editar</a>
{{/each}}
<hr>

 <h4><%= t('memberships') %></h4>
{{#each institutions }}
  <p>{{ title }} {{ country }}</p>
  <a href="#" class="btn btn-info btn-xs open-edit-lawyer-institution">Editar</a>
{{/each}}
<hr>

 <h4><%= t('languages') %></h4>
{{#each languages }}
  <p>{{ name }}</p>
  <a href="#" class="btn btn-info btn-xs open-edit-lawyer-language">Editar</a>
{{/each}}
<hr>

<h4><%= t('phrases') %></h4>
{{#each phrases}}
  <p>{{ author }}</p>
  <p>{{ content }}</p>
  <a href="#" class="btn btn-info btn-xs open-edit-lawyer-phrase">Editar</a>
{{/each}}
<hr>

<h4><%= t('awards') %></h4>
{{#each awards }}
  <p>{{ title }}</p>
  <img src="{{img_name.url}}">
  <a href="#" class="btn btn-info btn-xs open-edit-lawyer-award">Editar</a>
{{/each}}
<hr>

<h4><%= t('article') %></h4>
{{#each articles }}
  <p><a href="{{ file_name.url }}">{{ title }}</a></p>
  <a href="#" class="btn btn-info btn-xs open-edit-lawyer-article">Editar</a>
{{/each}}
</div>
</script>



