<script id="lawyers-filter" type="text/x-handlebars-template">  
  <h1><%= t("Lawyers") %></h1>
   <form class="form-group search">
    <input type="text" class="form-control query" placeholder="<%= t("Search") %>">
  </form>

   <div class="col-md-2 col-sm-2 countries">
    <select name="country" class="selectpicker">
      <option value=""><%= t("country") %></option>
      <option value="Colombia">Colombia</option>
      <option value="Chile">Chile</option>
      <option value="España">España</option>
    </select>
  </div>

   <div class="col-md-2 col-sm-2 category">
    <select class="selectpicker">
      <option value=""><%= t("Areas") %></option>
      <%= render "partials/categories_option" %>
    </select>
  </div>

   <div class="col-md-2 col-sm-2 position">
    <select class="selectpicker">
      <option value=""><%= t("Lawyer type") %> </option>
      <option value="<%= t("lawyer") %>"><%= t("lawyer") %></option>
      <option value="<%= t("specialist") %>"><%= t("specialist") %></option>
      <option value="<%= t("partner") %>"><%= t("partner") %></option>
      <option value="Senior Counsel">Senior Counsel</option>
    </select>
  </div>
  <a href="#" class="open-filters" data-toggle="modal" data-target="#filters-modal"><i class="fa fa-bars"></i> Filtrar</a>
</script>