<script id="lawyers-filter" type="text/x-handlebars-template">  
  <h1><%= t("Lawyers") %></h1>
   <form class="form-group search">
    <input type="text" class="form-control query" placeholder="<%= t("Search") %>">
  </form>

  <div class="col-md-3 col-sm-12 col-xs-12 countries">
    <div class="checkbox-inline">
      <label>
        <input type="checkbox" class="country" value="Colombia" checked="checked">
        <span>Colombia</span>
      </label>
    </div>

    <div class="checkbox-inline">
      <label>
        <input type="checkbox" class="country" value="Chile"  checked="checked">
         <span>Colombia</span>
      </label>
    </div>
  </div>

   <div class="col-md-2 col-sm-12 col-xs-12 category">
    <select class="form-control ">
      <option value=""><%= t("Areas") %></option>
      <%= render "partials/categories_option" %>
    </select>
  </div>

   <div class="col-md-2 col-sm-12 col-xs-12 position">
    <select class="form-control">
      <option value=""><%= t("Lawyer type") %> </option>
      <option value="<%= t("lawyer") %>"><%= t("lawyer") %></option>
      <option value="<%= t("specialist") %>"><%= t("specialist") %></option>
      <option value="<%= t("partner") %>"><%= t("partner") %></option>
      <option value="Senior Counsel">Senior Counsel</option>
    </select>
  </div>

</script>