<% content_for :head do %>
 <title>Philippi Prietocarrizosa &Uría - Trabaje con nosotros</title>
  <meta name="description" content="Buscamos profesionales que combinen el talento con la disciplina, personas que estén comprometidas con su profesión, con ganas de aprender y hacerse una carrera junto a los mejores abogados de la región. Bolsa de empleo. Vacantes.">
  <meta property="og:title" content="Philippi Prietocarrizosa &Uría - Trabaje con nosotros" /> 
  <meta property="og:description" content="Buscamos profesionales que combinen el talento con la disciplina, personas que estén comprometidas con su profesión, con ganas de aprender y hacerse una carrera junto a los mejores abogados de la región. Bolsa de empleo. Vacantes." /> 

  <meta property="og:image" content="http://ppulegal.com/img/Logo@2x.png" />

<% end %>


<div id="work-with-us">
			<div class="video">
				<style>
          .embed-container { 
            position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; height: auto; 
          } 
          .embed-container iframe, .embed-container object, .embed-container embed { 
            position: absolute; top: 0; left: 0; width: 100%; height: 100%; 
          }
        </style>
        <div class='embed-container'>
        <iframe src='http://player.vimeo.com/video/115685496?title=0&amp;byline=0&amp;portrait=0' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe></div>
			</div>

			<div class=" col-lg-12">
				<h3><%= t("work_with_us.top_title") %></h3>
				<p><%= t("work_with_us.top_text") %></p>
			</div>

	<div class="content">
		<div class="row">
			<div class="col-lg-6">
				<h5> <%= t("work_with_us.form_title") %> </h5>

				<p>
					Chile: <a href="mailto:seleccioncl@ppulegal.com">seleccioncl@ppulegal.com</a>
				</p>
				<p>
					Colombia: <a href="mailto:seleccionco@ppulegal.com">seleccionco@ppulegal.com</a>
				</p>


			</div>
			<div class="col-lg-6">
				<h5 class="form_thanks hidden"><%= t("form_thanks") %></h5>
				<form action="#" class="form">
					<div class="form-group">
						<select name="fields[country]" id="" class="form-control" >
				<option value=""><%= t("country") %></option>
         <option value="Chile">Chile</option>
         <option value="Colombia">Colombia</option> 
         <option value="España">España</option> 
						</select>
					</div>
					<div class="form-group">
						<input type="text" name="fields[name]" class="form-control" placeholder='<%= t("work_with_us.full_name") %>'>
					</div>
					<div class="form-group">
						<input type="file" name="fields[file_name]" class="form-control" placeholder='<%= t("work_with_us.attach_you_cv") %>'>
					</div>
					<a href="#" class="btn btn-info send-cv pull-right"><%= t("send") %></a>
				</form>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
			<h4><%= t("work_with_us.What_do_we_offer") %></h4>	
			<ul >
				<li><%= t("work_with_us.An_attractive_career_plan") %></li>
				<li><%= t("work_with_us.We_are_an_international") %></li>
				<li><%= t("work_with_us.Integrating_first_level") %></li>
				<li><%= t("work_with_us.Relations_with_clients") %></li>
				<li><%= t("work_with_us.Excellent_work_environment") %></li>
			</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<h4><%= t("work_with_us.carreer_plan") %></h4>
				<p>
					<%= t("work_with_us.carreer_plan_text") %>
				</p>
			</div>
		</div>
	</div>
</div>

 <script id="work-with-title-template" type="text/x-handlebars-template">
    <h1><%= t("work_with") %></h1>
  </script>
