<div class="panel panel-default" id="lawyers-dashboard">
	<div class="panel-body">
		<div class="row">
			<div class="col-lg-3">
				<form class="lawyer-search">
					<input name="query" class="form-control" placeholder="Buscar">
				</form>
				
			</div>	
			<div class="col-lg-3">
				<select class="form-control lawyer-filter-country">
					<option>País</option>
					<option value="Chile">Chile</option>
					<option value="Colombia">Colombia</option>
				</select>
			</div>
			<div class="col-lg-3">
				<select class="form-control lawyer-filter-position">
					<option>Cargo</option>
					<option value="<%= t('lawyer')%>"><%= t('lawyer')%></option>
					<option value="<%= t('specialist')%>"><%= t('specialist')%></option>
					<option value="<%= t('partner')%>"><%= t('partner')%></option>
					<option value="<%= t('senior_counsel')%>"><%= t('senior_counsel')%></option>
				</select>
					</div>
				<div class="col-lg-3">
				<select class="form-control lawyer-filter-category">
					<option>Áreas</option>
					<option value="<%= t('categories.corporate_and_M&A')%>"><%= t('categories.corporate_and_M&A')%></option>
					<option value="<%= t('categories.competition')%>"><%= t('categories.competition')%></option>
					<option value="<%= t('categories.banking_&_finance')%>"><%= t('categories.banking_&_finance')%></option>
					<option value="<%= t('categories.transport')%>"><%= t('categories.transport')%></option>
					<option value="<%= t('categories.private_clients_&_family')%>"><%= t('categories.private_clients_&_family')%></option>
					<option value="<%= t('categories.real_estate')%>"><%= t('categories.real_estate')%></option>
					<option value="<%= t('categories.intellectual_property')%>"><%= t('categories.intellectual_property')%></option>
					<option value="<%= t('categories.tax_&_international_trade')%>"><%= t('categories.tax_&_international_trade')%></option>
					<option value="<%= t('categories.labor')%>"><%= t('categories.labor')%></option>
					<option value="<%= t('categories.public_law')%>"><%= t('categories.public_law')%></option>
					<option value="<%= t('categories.energy')%>"><%= t('categories.energy')%></option>
					<option value="<%= t('categories.telecommunications')%>"><%= t('categories.telecommunications')%></option>
					<option value="<%= t('categories.infrastructure_&_projects')%>"><%= t('categories.infrastructure_&_projects')%></option>
					<option value="<%= t('categories.litigations')%>"><%= t('categories.litigations')%></option>
				</select>
			</div>
		</div>
		<hr>

		<div class="table-responsive">
		<table class="table table-condensed">
			<thead>
				<tr>
					<th>Nombre</th>
					<th>Email</th>
					<th>Cargo</th>
					<th>País</th>
					<th>Opciones</th>
				</tr>
			</thead>
			<tbody></tbody>
		</table>
		</div>
	</div>
</div>

<script type="text/x-handlebars-template" id="lawyer-dashbord-template">
	<td>{{ name }} {{ lastname }}</td>
	<td>{{ email }}</td>
	<td>{{ position }}</td>
	<td>{{ country }}</td>
	<td><a href="/editar-abogado/{{ slug }}" class="btn btn-info lawyer-edit">Editar</a>
	<a href="/en/editar-abogado/{{ slug }}" class="btn btn-info lawyer-edit">Traducción</a>
</script>
