<div class="panel panel-default" id="lawyers-dashboard">

  <div class="panel-heading">
    <h4 >Abogados</h4>
    <a class="btn btn-primary" href="/admin/lawyers/new">Crear Abogado</a>
  </div>

  <div class="panel-body">
    <div class="row lawyers-filters" >

      <div class="col-lg-3">
        <input name="query" class="form-control query" placeholder="Buscar">
      </div>

      <div class="col-lg-3">
        <select class="form-control lawyer-filter-country">
          <option>País</option>
          <option value="Chile">Chile</option>
          <option value="Colombia">Colombia</option>
          <option value="Perú">Perú</option>
        </select>
      </div>

      <div class="col-lg-3">
        <select class="form-control lawyer-filter-position">
          <option>Cargo</option>
          <option value="<%= t('lawyer')%>"><%= t('lawyer')%></option>
          <option value="<%= t('specialist')%>"><%= t('specialist')%></option>
          <option value="<%= t('partner')%>"><%= t('partner')%></option>
          <option value="<%= t('senior_counsel')%>"><%= t('senior_counsel')%></option>
        </select>
      </div>

      <div class="col-lg-3">
        <select class="form-control lawyer-filter-category">
          <option>Áreas</option>
          <%= render "partials/categories_option" %>
        </select>
      </div>

    </div>
    <hr>

    <div class="table-responsive">
      <table class="table table-condensed">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Email</th>
            <th>Cargo</th>
            <th>País</th>
            <th>Opciones</th>
            <th>Estado</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
      <hr>
      <div class="lawyers-filters">
        <a href="#" class="btn btn-primary see-more" data-offset="0">Mostrar Más</a>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="confirm-translate-modal">
  <div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header">
      <h5>Crear perfil en Inglés</h5>
    </div>
    <div class="modal-body">
    <p>
        Es recomendable que su perfil en español esté completamente terminado antes de generar el perfil en inglés, pues éste duplicará la información en español para su posterior traducción.
      </p>
      <b >¿Desea continuar?</b>
    </div>
    <div class="modal-footer">
    <a href="#" class="btn btn-default cancel">Cancelar</a>
    <a href="#" class="btn btn-info continue">Aceptar</a>
    </div>
    </div>
  </div>
</div>

<!-- Templates -->
<%= render "admin/lawyers/partials/lawyer_dashboard" %>
