<div class="panel panel-default col-lg-12 hidden" id="lawyer-finish">
  <div class="panel-heading">
    <h5>Editar Perfil</h5>
  </div>

  <div class="panel-body">
  <div class="container-lawyer"></div>

  <div class="col-lg-12">
    <div id="lawyer-category-edit">
    <h4><%= t('practice_areas') %></h4>
    <ul> </ul>
    </div>
  </div>

  <div class="col-lg-12 lawyer-left">

    <hr>
    <%= render "admin/lawyers/partials/section_edit", :model => "education", :title => "education", :message => "Por favor enumerar desde la más reciente a la más antigua" %>
    <hr>

    <%= render "admin/lawyers/partials/section_edit", :model => "job", :title => "professional_experience", :message => "Por favor enumerar desde la más reciente a la más antigua"  %>
    <hr>

    <%= render "admin/lawyers/partials/section_edit", :model => "recognition", :title => "conferences_recognitions", :message => "Conferencias o cátedras dictadas sobre algún tema puntual"%>
    <hr>

    <%= render "admin/lawyers/partials/section_edit", :model => "academic", :title => "Academic Activities", :message => "especifique si es o ha sido docente, monitor o si dirige cualquier tipo de actividad académica." %>
    <hr>
    <%= render "admin/lawyers/partials/section_edit", :model => "institution", :title => "memberships", :message => "Instituciones a las que esté afiliado (cámaras, fundaciones, agremiaciones, juntas directivas, etc.)" %>
    <hr>

    <%= render "admin/lawyers/partials/section_edit", :model => "language", :title => "languages", :message => "Su lengua materna primero" %>
    <hr>

    <%= render "admin/lawyers/partials/section_edit", :model => "phrase", :title => "phrases", :message => "Si ha sido mencionado y calificado en alguna publicación (Chambers and Partners, Legal 500). Incluya la frase textual en español entre comillas. Ingresé máximo 2." %>
    <hr>

<%= render "admin/lawyers/partials/section_edit", :model => "award", :title => "award", :message => "Indique el título del premio o reconocimiento que recibió. Adjunte el logo correspondiente. Para premios en inglés es necesario traducir el título del mismo en la hoja de vida en español. Deben

publicarse en orden del más reciente al más antiguo." %>

<div id="lawyer-article-edit">
  <h4><%= t("article") %></h4>
  <span>Adjunte en formato PDF o Word los artículos que haya escrito, también puede usar un link. Asegúrese de contar con el permiso del medio que lo publicó.</span>
    <button type="button" class="btn btn-primary btn-xs popver" data-container="body" data-toggle="popover" data-placement="right" data-content="A partir de 2015 sus publicaciones de la República se publicarán como noticia desde mercadeo y se vincularán automáticamente a su perfil. Usted es responsable de crear las anteriores a esta fecha"> Nota Colombia
</button>
  <br>
  <br>
    <a href="#" class="btn btn-info btn-sm open-modal-create">Agregar</a>
    <br>
    <br>
    <table class="table table-striped">
    <tbody class="sortable"></tbody>
  </table>

</div>
  </div>

  <!-- Modals -->

<div class="modal fade" id="lawyer-article-edit-modal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
    <div class="modal-body"> </div>
    <div class="modal-footer">
    <a href="#" class="btn btn-default modal-close">Cancelar</a>
    <a href="#" class="btn btn-info update">Guardar</a>
    </div>
    </div>
  </div>
</div>

  </div>
</div>


<div class="modal fade" id="confirm-translate-modal">
  <div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header">
      <h5>Crear perfil en Inglés</h5>
    </div>
    <div class="modal-body">
    <p>
        Es recomendable que su perfil en español esté completamente terminado antes de generar el perfil en inglés, pues éste duplicará la información en español para su posterior traducción.
      </p>
      <b >¿Desea continuar?</b>
    </div>
    <div class="modal-footer">
    <a href="#" class="btn btn-default cancel">Cancelar</a>
    <a href="#" class="btn btn-info continue">Aceptar</a>
    </div>
    </div>
  </div>
</div>


<div class="modal fade" id="lawyer-relationship-create-modal" >
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
    <div class="modal-body"> </div>
    <div class="modal-footer">
    <a href="#" class="btn btn-default modal-close">Cancelar</a>
    <a href="#" class="btn btn-info create">Guardar</a>
    </div>
    </div>
  </div>
</div>

<div class="modal fade" id="lawyer-edit-modal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
    <div class="modal-header">
      <h5>Editar Datos personales</h5>
    </div>
    <div class="modal-body"> </div>
    <div class="modal-footer">
    <a href="#" class="btn btn-default modal-close">Cancelar</a>
    <a href="#" class="btn btn-info lawyer-edit-update">Guardar</a>
    </div>
    </div>
  </div>
</div>

<!-- Templates -->


<!-- Lawyer -->
<%= render 'admin/lawyers/partials/lawyer' %>
<%= render "admin/lawyers/partials/lawyer_form" %>
<%= render "admin/lawyers/partials/lawyer_categories" %>

<%= render 'admin/lawyers/partials/categories' %>

<!-- Education -->
<%= render 'admin/lawyers/partials/education' %>
<%= render 'admin/lawyers/partials/education_form' %>

<!-- Job -->
<%= render 'admin/lawyers/partials/job' %>
<%= render 'admin/lawyers/partials/job_form' %>

<!-- Recognition -->
<%= render 'admin/lawyers/partials/recognition' %>
<%= render 'admin/lawyers/partials/recognition_form' %>

<!-- Institutions -->
<%= render 'admin/lawyers/partials/institution' %>
<%= render 'admin/lawyers/partials/institution_form' %>

<!-- language -->
<%= render 'admin/lawyers/partials/language' %>
<%= render 'admin/lawyers/partials/language_form' %>

<!-- phrase -->
<%= render 'admin/lawyers/partials/phrase' %>
<%= render 'admin/lawyers/partials/phrase_form' %>

<!-- award -->
<%= render 'admin/lawyers/partials/award' %>
<%= render 'admin/lawyers/partials/award_form' %>

<!-- academic -->
<%= render 'admin/lawyers/partials/academic' %>
<%= render 'admin/lawyers/partials/academic_form' %>

<!-- article -->
<%= render 'admin/lawyers/partials/article' %>
<%= render 'admin/lawyers/partials/article_form' %>
