<div class="row">
	<div class="col-lg-9" id="lawyer-create">
		<div class="panel panel-default " id="lawyer-form-create">
			<div class="panel-body"> </div>
		</div>

		<%= render "lawyers/form" %>
		<%= render "admin/lawyers/partials/panel_form", :model => "education", :title => "education" %>
		<%= render "admin/lawyers/partials/panel_form", :model => "job", :title => "professional_experience" %>
		<%= render "admin/lawyers/partials/panel_form", :model => "recognition", :title => "conferences_recognitions" %>
		<%= render "admin/lawyers/partials/panel_form", :model => "institution", :title => "memberships" %>
		<%= render "admin/lawyers/partials/panel_form", :model => "academic", :title => "Academic Activities" %>
		<%= render "admin/lawyers/partials/panel_form", :model => "language", :title => "languages" %>
		<%= render "admin/lawyers/partials/panel_form", :model => "phrase", :title => "phrases" %>
		<%= render "admin/lawyers/partials/panel_form", :model => "award", :title => "awards" %>
		<%= render "admin/lawyers/partials/panel_form", :model => "article", :title => "article" %>

		<a href="#" class="btn btn-store pull-right btn-lg lawyer-store">Guardar</a>
	</div>
</div>
