<% content_for :head do %>
 <title>Philippi Prietocarrizosa &Uría - <%= @post.title %></title>
  <meta name="description" content="<%= @post.excerpt.truncate(170) %>">
  <meta property="og:title" content="Philippi Prietocarrizosa &Uría - <%= @post.title %>" /> 
  <meta property="og:description" content="<%= @post.excerpt.truncate(170) %>" /> 
  <%if @post.gallery %>
  <meta property="og:image" content="<%= @post.gallery.img_name.url %>" />
  <% else %>
  <meta property="og:image" content="<%= @post.img_name.url %>" />
  <% end %>
<% end %>

<div id="experience">
	
  
</div>
<div class="related-title"><h3><%= t("Experience") %> <%= t("related")%></h3></div>  
<div id="experiences-related">
  
</div>
<%= render "/experiences/partials/experiences" %>
<%= render "/experiences/partials/experience" %>