<div class="panel panel-default col-lg-9" id="post-edit">
  <div class="panel-body"></div>
</div>

<%= render "admin/posts/partials/form" %>
<%= render "admin/posts/partials/categories_checkbox" %>
<%= render "admin/posts/partials/lawyer_select" %>
<%= render "admin/posts/partials/form" %>
<%= render "admin/galleries/gallery_post_modal" %>