<script id="experiences-filter" type="text/x-handlebars-template">
  <h1><%= t("Experience") %></h1>

  <form class="form-group search">
    <input type="text" class="form-control query" placeholder="<%= t("Search") %>">
  </form>

 <div class="col-md-2 col-sm-2 countries">
    <select name="country" class="selectpicker">
      <option value=""><%= t("country") %></option>
      <option value="Colombia">Colombia</option>
      <option value="Chile">Chile</option>
    </select>
  </div>

  <div class="col-md-2 col-sm-2 category">
    <select class="selectpicker">
      <option value=""><%= t("Areas") %></option>
      <%= render "partials/categories_option" %>
    </select>
  </div>

  <a href="#" class="open-filters" data-toggle="modal" data-target="#filters-modal"><i class="fa fa-bars"></i> Filtrar</a>

</script>
