<div class="panel panel-default col-lg-12" id="experience-create">
  <div class="panel-body"></div>
</div>

<%= render "admin/experiences/form" %>
<%= render "admin/categories/partials/category_checkbox" %>
<%= render "admin/posts/partials/form" %>
<%= render "admin/posts/partials/categories_checkbox" %>
<%= render "admin/partials/lawyer_select" %>
<%= render "admin/galleries/gallery_post_modal" %>
