<nav class="navbar navbar-default navbar-app hidden-lg" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">

      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
       Menú <i class="fa fa-bars"></i>
     </button>
     <a href="/" class="navbar-brand"><img src="/img/LogoSolo@2x.png" alt="" class="img-responsive"></a>
   </div>

   <!-- Collect the nav links, forms, and other content for toggling -->
   <div class="collapse navbar-collapse" id="navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li><a href="/abogados"><%= t("Lawyers") %></a></li>
      <li><a href="/areas"><%= t("Practice Areas") %></a></li>
      <li><a href="/nosotros"><%= t("Us") %></a></li>
      <li><a href="/experiencias"><%= t("Experience") %></a></li>
      <li><a href="/trabaje-con-nosotros"><%= t("Work with Us") %></a></li>
      <li><a href="/probono">Pro bono</a></li>
    </ul>

  </div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
</nav>

