<!DOCTYPE html>
<html>
<head>
  <title>PPU - ADMIN</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,500,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/theme.css">
  <link rel="stylesheet" href="/bower_components/bootstrap-datepicker/css/datepicker3.css">
  <link rel="stylesheet" href="/bower_components/toastr/toastr.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" />
  <link rel="stylesheet" href="/bower_components/dropzone/downloads/css/basic.css">
  <link rel="stylesheet" href="/bower_components/summernote/dist/summernote.css">
  <link rel="stylesheet" href="/bower_components/summernote/dist/summernote-bs3.css">
  <link rel="stylesheet" href="/bower_components/nprogress/nprogress.css">
  <%= csrf_meta_tags %>

  <style>
    body{
      padding-top: 65px;
    }
    #nprogress .bar{
      background: #fff;
    }
    #nprogress .spinner-icon{
      border-top-color: #fff;
      border-left-color: #fff;
    }
  </style>

</head>
<body id="ppu-admin">
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '594890600612824',
      xfbml      : true,
      version    : 'v2.2'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
 
<div class="container">
<nav class="navbar navbar-default navbar-admin navbar-fixed-top" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/dashboard">PPU Admin <img src="/img/favicon.png" alt=""></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/dashboard">Abogados</a></li>
        <li><a href="/admin/lawyers/new">Crear Abogado</a></li>
        <li><a href="/admin/posts">Noticias</a></li>
        <li><a href="/admin/posts/new">Crear Noticia</a></li>
        <li><a href="/admin/experiences">Experiencia</a></li>
        <li><a href="/admin/experiences/new">Crear Experiencia</a></li>

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

  <%= yield %>
</div>
  <%= render "articles/form" %>
  <%= render "awards/form" %>
  <%= render "educations/form" %>
  <%= render "institutions/form" %>
  <%= render "jobs/form" %>
  <%= render "languages/form" %>
  <%= render "phrases/form" %>
  <%= render "recognitions/form" %>
  <%= render "academics/form" %>
  
  <%= render "partials/share_modal" %>


  <script src="/bower_components/jquery/dist/jquery.min.js"></script>
   <script src="/bower_components/jquery-ui/jquery-ui.js"></script>
  <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
 <script src="/bower_components/jquery.serializeJSON/jquery.serializejson.min.js"></script>
  <script src="/bower_components/handlebars/handlebars.min.js"></script>
  <script src="/bower_components/underscore/underscore-min.js"></script>
  <script src="/bower_components/backbone/backbone.js"></script>

  <script src="/bower_components/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
  <script src="/bower_components/bootstrap-datepicker/js/locales/bootstrap-datepicker.es.js"></script>
  <script src="/bower_components/toastr/toastr.min.js"></script>
  <script src="/bower_components/dropzone/downloads/dropzone.js"></script>
  <script src="/bower_components/jquery.iframe-transport/jquery.iframe-transport.js"></script>
  <script src="/bower_components/summernote/dist/summernote.min.js"></script>
  <script src="/bower_components/moment/min/moment.min.js"></script>
  <script src="/bower_components/nprogress/nprogress.js"></script>
 
  <script src="/js/main.js"></script>
  <script src="/js/fb.js"></script>
  <script src="/js/handlebars_helpers.js"></script>
  <script src="/js/bb_helpers.js"></script>
  <script src="/js/mixins.js"></script>
  <script src="/js/categories.js"></script>
  <script src="/js/lawyer/article.js"></script>
  <script src="/js/lawyer/award.js"></script>
  <script src="/js/lawyer/academic.js"></script>
  <script src="/js/lawyer/education.js"></script>
  <script src="/js/lawyer/institution.js"></script>
  <script src="/js/lawyer/language.js"></script>
  <script src="/js/lawyer/pharase.js"></script>
  <script src="/js/lawyer/job.js"></script>
  <script src="/js/lawyer/recognition.js"></script>
  <script src="/js/lawyers.js"></script>
  <script src="/js/admin/category.js"></script>
  <script src="/js/admin/lawyer.js"></script>
  <script src="/js/admin/post.js"></script>
  <script src="/js/admin/gallery.js"></script>
  <script src="/js/admin/experience.js"></script>

  <script src="/js/admin/router.js"></script>
 <script>
    app.lang = "<%= I18n.locale %>";
    app.hostname = window.location.hostname;
    app.pathname = window.location.pathname;
  </script>

</body>
</html>
